{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Race Review</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hi, Welcome to Race Review.</h1>
			<h2>We here to help you find the best races in the North East.</h2>

			<p>We hope in time to expand... but as a pilot we are going to stick to the North East of England. We hope that you will register and help add review of all the races in the area, to help you fellow athleates plan their races.</p>

			<p>Registration opens soon!</p>

			<!-- <a href="https://twitter.com/getcoffeed" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/getcoffeed" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a> -->
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>